<!DOCTYPE html>
<html>
<head>
    <title>Cảnh báo ngủ gật</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-color: rgba(173, 216, 230, 0.5);">
	<div class="sidebar">
		<a href="{{ url_for('index') }}">Trang chủ</a>
		<a href="{{ url_for('camera') }}">Camera</a>
        <a href="{{ url_for('history') }}">Lịch sử</a>
		<a href="{{ url_for('frequency') }}">Thống kê</a>
	</div>
	<div class="main">
		{% block content %}
        <div style="text-align: center">
            <h1>PBL5 - Kĩ thuật máy tính</h1>
            <h2 style="font-size: 46px;">Đề tài: Xây dựng hệ thống cảnh báo ngủ gật<h2>
            <br>
            <h3 style="font-size: 36px;">Thành Viên Nhóm:</h3>
                <p style="font-size: 26px;">Trần Ngọc Quốc</p>
                <p style="font-size: 26px;">Phạm Sĩ Chiến</p>
                <p style="font-size: 26px;">Nguyễn Phạm Anh Tú</p>
                <p style="font-size: 26px;">Huỳnh Đức Trị</p>
            <h3 style="font-size: 36px;">Giảng Viên Hướng Dẫn</h3>
            <p style="font-size: 26px;">Ts. Trần Thế Vũ</p>
        </div>
		{% endblock %}

	</div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Drowsiness Detection</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <h1>Drowsiness Detection</h1>
    <div id="video-container">
        <img id="video-stream" src="">
        
    </div>
    <script>
        var socket = io.connect('http://localhost:5000');

        socket.on('frame', function(data) {
            var image = "data:image/jpg;base64," + btoa(String.fromCharCode.apply(null, new Uint8Array(data.image)));
            $('#video-stream').attr('src', image);
        });
    </script>
</body>
</html> -->